@{
    ViewData["Title"] = "Welcome to the Food Saver Database!";
}

<h1>@ViewData["Title"]</h1>


<h2>Navigate to the shopping list to plan weekly meals within your budget, or view all recipes</h2> 


<button class="btn btn-dark">@Html.ActionLink("All Recipes", "Index", "Recipes")</button>
<button class="btn btn-dark">@Html.ActionLink("Add Recipes to shopping list", "Index", "ShoppingList")</button>